.image-slider-maindiv {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .ImageSlider-Buttons-div, 
  .image-slider-images, .TextContant-div
  {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .TextContant-div
  {
    z-index: 5;
  }
  
  .ImageSlider-Buttons-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    z-index: 10;
  }
  
  .Previous-Image,
  .Next-Image {
    font-size: 2rem;
  }
  
  .ImageSlider-Dot-div {
    display: flex;
    font-size: 1rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1rem;
    gap: 0.2rem;
  }
  
  .dot {
    color: #ffffff6c;
    cursor: pointer;
  }
  
  .dot.active {
    color: #ffffff; /* Highlight color for the active dot */
  }
  
  .image-slider-images {
    width: 100%;
    text-align: center;
  }
  
  .slider-image {
    height: 100%;
    width: 100%;
    object-fit: cover; /* Maintain aspect ratio while covering the entire container */
  }


  