@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: auto;
}

body {
  font-family: "Manrope", sans-serif;
}

/* home page slider start */

.slider-container > div > .slick-slider > .slick-list > .slick-track {
  height: 100%;
}
.slider-container
  > div
  > .slick-slider
  > .slick-list
  > .slick-track
  > .slick-slide {
  height: 100%;
}
.slider-container
  > div
  > .slick-slider
  > .slick-list
  > .slick-track
  > .slick-slide
  > div {
  height: 100%;
}
.slider-container
> div
  > .slick-slider
  > .slick-list
  > .slick-track
  > .slick-slide
  > div
  > .img-wrapper {
  height: 100%;
}
.slider-container > div> .slick-slider > .slick-list {
  height: 80.5vh;
  /* margin: 0rem 5.2rem; */
  width: 90%;
  margin: 1.8rem auto;
  border-radius: 6px;
  border: 1px solid #e5e5e5;
  box-shadow: 0px 0px 10px 0px #e5e5e5;
}
.slider-container > div > .slick-slider {
  width: 100%;
  position: relative;
  left: 0;
}
.rating::after {
  content: "⭐⭐⭐⭐⭐";
}
.slider-container > div > .slick-slider > .slick-prev {
  margin-left: 40px;
  z-index: 2;
}
.slider-container > div > .slick-slider > .slick-prev::before {
  font-size: 25px;
}
.slider-container > div > .slick-slider > .slick-next::before {
  font-size: 25px;
}

.slider-container > div > .slick-slider > .slick-next {
  margin-right: 40px;
  z-index: 2;
}
.slick-dots {
  bottom: 12px;
}

* {
  box-sizing: border-box;
}
.slick-next:before {
  content: "❯";
  /* background: #000; */
}
.slick-prev:before {
  content: "❮";
  /* background: #000; */
}
@media (max-width: 450px) {
  /* Your CSS code for this media query goes here */

  .slider-container > div > .slick-slider > .slick-list {
    height: 80.5vh;
    /* margin: 0rem 5.2rem; */
    width: 100%;
    margin: auto;
    border-radius: 0rem;
  }
  .slider-container > div > .slick-slider {
    width: 100%;
    position: relative;
    left: 0;
  }

  .slider-container > div > .slick-slider > .slick-prev {
    margin-left: -40px;
    z-index: 2;
  }
  .slider-container > div > .slick-slider > .slick-prev::before {
    font-size: 20px;
    opacity: 0.5;
  }
  .slider-container > div > .slick-slider > .slick-next::before {
    font-size: 20px;
    opacity: 0.5;
  }

  .slider-container > div > .slick-slider > .slick-next {
    margin-right: -40px;
    z-index: 2;
  }
  .slick-dots {
    bottom: 12px;
  }
  * {
    box-sizing: border-box;
  }
  .slick-next:before {
    content: "❯";

    /* background: #000; */
  }
  .slick-prev:before {
    content: "❮";
    /* background: #000; */
  }
}

/* home page slider end */

.postcard-container > .slick-slider > .slick-list .slick-track > .slick-slide {
  margin: 0 1rem;
  /* width: 400px !important; */
}
.testimonial-container
  > .slick-slider
  > .slick-list
  .slick-track
  > .slick-slide {
  margin: 0 1rem;
}
.postcard-container > .slick-slider > .slick-list > .slick-track {
  width: max-content !important;
}
.testimonial-container > .slick-slider > .slick-list > .slick-track {
  width: max-content !important;
}

.testimonial-container .slick-next:before,
.postcard-container .slick-next:before {
  content: "❯";
  color: rgba(0, 0, 0, 0.45);
  /* background: #000; */
}
.testimonial-container .slick-prev:before,
.postcard-container .slick-prev:before {
  content: "❮";
  color: rgba(0, 0, 0, 0.45);
  /* background: #000; */
}

@media (max-width: 650px) {
  .postcard-container
    > .slick-slider
    > .slick-list
    .slick-track
    > .slick-slide {
    margin: 0;
    /* width: 400px !important; */
  }
  .testimonial-container
    > .slick-slider
    > .slick-list
    .slick-track
    > .slick-slide {
    margin: 0;
    min-width: 350px !important;
  }
}
